################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CPP_Templates/CPP_Templates.VC.VC.opendb
/doc.microsoft.com_asp.net/ASP.NET_DOC/.vs/ASP.NET_DOC/v15/Server/sqlite3/db.lock
